body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
overflow-y: scroll;
}
@media (max-width: 600px) {
  body {
    overflow-x: hidden !important; 
  }
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.header-left {
  flex: 1;
}

.burger-menu {
  display: none; /* Hide burger menu by default */
  cursor: pointer;
  order: 0; /* Reorder burger menu to the last */
}

.burger-icon {
  width: 30px;
  height: 25px;
  position: relative;
}

.burger-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color:#d66e6e;
  position: absolute;
  transition: all 0.3s ease;
}

.burger-icon span:nth-child(1) {
  top: 0;
}

.burger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-icon span:nth-child(3) {
  bottom: 0;
}

.burger-menu.open .burger-icon span:nth-child(1) {
  transform: translateY(50%) rotate(45deg);
}

.burger-menu.open .burger-icon span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .burger-icon span:nth-child(3) {
  transform: translateY(-50%) rotate(-45deg);
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 4%;
  margin-left: 10%;
  color: #eb6f6f;
  display: flex;
  justify-content: flex-end; /* Align menu items to the right */
}

.menu li {
  margin-left: 30px; /* Adjust margin to separate menu items */
  color: #eb6f6f;
  text-decoration: none; 
}
.menu li a {
  text-decoration: none;
  color: #eb6f6f;
  text-shadow: 5%;
  size:20px;
}
.menu :hover{
  color: #983838;
}
.menu li:first-child {
  margin-left: 0; /* Remove margin for the first menu item */
}

@media only screen and (max-width: 768px) {
  .burger-menu {
    display: block; /* Display burger menu on mobile */
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-left {
    margin-bottom: 30px;
    
  }

  .burger-menu {
    order: 4; /* Reorder burger menu to the first */
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f1cfcf;
    padding: 20px;
    position: relative;
    top: 100%;
    right: 0; /* Position menu to the top right */
    width: 100%;
  }

  .menu-open {
    display: block;
  }

  .menu-open:before {
    font-size: 24px;
    margin-right: 10px;
  }

  .menu.open {
    display: flex;
  }

  .menu li {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #cb5d5d;
  }
}

h1 {
  margin-bottom: 10px ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-width: 50%;
  text-align: center;  
  font-size:40px;
  background-color: #ffe3e3;
  box-shadow: 0 10 5px #ffd9d9;
  -webkit-box-shadow: 0 0 10px #ffd9d9;
  width: 350px;
  top:50px;
}


p {
  margin: 30px auto 40px auto; /* Add margin at the top of the paragraph */
  max-width: 70%;
  text-align: center;
  font-size: 20px;
  color: rgb(85, 83, 83);
  font-family:karla,sans-serif;
font-size: larger;

}


.nuga {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  align-items: center;
  margin-top: 5%;
   overflow-x: hidden;

}

span {
  color: #e96269;
}

/* Style inputs, select elements and textareas */
input[type=text], input[type="email"], select, textarea{
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #f0bbbb;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 0 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #cb5d5d;
  color: white;
  padding: 12px 10px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
align-items: center;
margin-left: 25%;
  width: auto;
}
input[type=submit]:hover{
  background-color: white ;
  color: #cb5d5d;
  border: 1px solid #f0bbbb;

}

@media (max-width: 600px) {
  .row input[type=submit] {
    width: auto;
  }
}



/* Style the container */
.container {
  border-radius: 5px;
  background-color: #FFF7F7;
  padding: 20px;
  padding-bottom: 200px;
  padding-top: 100px;
  width: 100%;
  overflow-x: hidden;

}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    margin-left: 50px;
  }
}
.h2{
 color:  #cb5d5d;
 text-align: center;
}

footer {
  width: 100%;
  position: relative;
  background-color: #ff9090;
  margin: 0 auto;
  bottom: 0px;
  padding: 17px;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}
footer p {
  margin-left: 50;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: #fae4e4;
  font-size:medium;
  text-align: center;
}

.skills {
  justify-content:space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
  padding: 0 0;
}

@media (min-width: 780px) {
  .skills {
    width: 90%;
    margin-bottom: 100px;
    overflow-x: hidden;

  }
}
.skills li {
  font-family: sans-serif;
  font-size: small;
  list-style: none;
  width: 80px;
  text-align: center;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3 rem;
}
@media (min-width: 780px) {
  .skills li {
    margin: 0 20px;
    width: 100px;
  }
}
.skills li img {
  width: 50px;
  margin-bottom: -2px;
}
@media (min-width: 780px) {
  .skills li img {
    width: 50px;
  }
}



h3 {
  margin-bottom: 10px ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-width: 50%;
  text-align: center;  
  font-size:30px;
  background-color: #ffe3e3;
  box-shadow: 0 10 5px #ffd9d9;
  -webkit-box-shadow: 0 0 10px #ffd9d9;
  width: 350px;
  top:50px;
  color:  #cb5d5d;

}

.socialicons {
  display: flex;
  justify-content: center;
}

.socialicons a {
  margin: 0 20px;
  padding-right: 31px;

    font-size: 24px;
}

.socialicons i {
  color:  #cb5d5d;
 justify-content: space-between;
  font-size: 24px;
}
.socialicons :hover {
  color: #fe8989;
}


@media only screen and (max-width: 600px) {
  /* Adjust the layout of social icons for smaller screens */
  .social-icons {
      flex-direction: column;
      align-items: center;
  }

  .social-icons a {
      margin: 5px 0; /* Adjust margin for smaller screens */
  }
}
.blacklist{
  width: 80%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 20px auto 30px auto;
      padding: 5px 0;
}
.blacklist li{
  list-style: none;
  background-color: rgb(1, 0, 0);
  color: #eae6e6;
  width: auto;
  padding: 5px 10px;
  border-radius: 50px;
}
.text1 {
  color: rgb(5, 0, 0);
  font-size: 16px;
  text-align: center;
  padding: 16px 32px;
  margin-top:40px ;

}
